body {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(9.7vh, 100px) 1fr;
}

nav {
  height: 100%;
}

.sidebar,
.navbar {
  background: #fff;
}

.right {
  display: grid;
  grid-template-columns: minmax(20.8vw, 400px) 1fr;
}

.navbar {
    display: flex;
}


.navbar__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
}

.navbar__search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding-left: 40px;
}

.search-bar__control {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
}

.search-bar__control input {
    border: none;
    outline: none;
}

.navbar__avatar {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    padding-right: 50px;
}
.navbar__button-group {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 50px;
    padding-right: 50px;
}

.button-group__button {
    outline: none;
    border: none;
    background: transparent;
}