* {
    color: #707070;
    font-family: 'Montserrat';
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
}

main {
    height: 100%;
    display: grid;
    grid-template-rows: minmax(9.7vh, 100px) 1fr;
}

nav {
    height: 100%;
}

.sidebar,
.navbar {
    background: #fff;
}

.right {
    display: grid;
    grid-template-columns: minmax(20.8vw, 400px) 1fr;
}

.navbar {
    display: flex;
}

.navbar__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
}

.navbar__search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding-left: 40px;
}

.search-bar__control {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
}

.search-bar__control input {
    border: none;
    outline: none;
}

.search-bar__control input::placeholder{
    font-weight: 300;
    font-size: 13pt;
}

.navbar__avatar {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    padding-right: 50px;
}
.navbar__button-group {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    column-gap: 50px;
    padding-right: 50px;
}

.button-group__button {
    outline: none;
    border: none;
    background: transparent;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
	padding: 0 50px 0 50px;
}

.sidebar__avatar {
    display: flex;
	margin: 60px 0 25px 0;
}

.sidebar__avatar img {
	margin-right: 10px;
}

.sidebar__avatar figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar__avatar__user-name{
    font-weight: 700; 
    margin-bottom: 5px;
}

.sidebar__avatar__function{
    font-weight: 300; 
}

.sidebar__menu {
	display: flex;
	flex-direction: column;
}

.menu__item {
	margin: 25px 0 25px 0;
}

.menu__item a {
	height: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-decoration: none;
}

.item__icon {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__item--home .item__icon {
    background-image: url(/assets/images/home.svg);
}

.menu__item--home--active .item__icon {
    background-image: url(/assets/images/home-active.svg);
}

.menu__item--trending .item__icon {
    background-image: url(/assets/images/trending.svg);
}

.menu__item--trending--active .item__icon {
    background-image: url(/assets/images/trending-active.svg);
}

.menu__item--favorite .item__icon {
    background-image: url(/assets/images/favorite.svg);
}

.menu__item--favorite--active .item__icon {
    background-image: url(/assets/images/favorite-active.svg);
}
